name: Deploy Laravel to cPanel

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install Dependencies
      run: composer install --no-dev --optimize-autoloader

    - name: Upload to cPanel via FTP
      uses: SamKirkland/FTP-Deploy-Action@v4.3.4
      with:
        server: ${{ secrets.CPANEL_HOST }}
        username: ${{ secrets.CPANEL_USERNAME }}
        password: ${{ secrets.CPANEL_PASSWORD }}
        port: ${{ secrets.CPANEL_PORT }}
        server-dir: ${{ secrets.CPANEL_PATH }}/
        local-dir: "./"

        exclude: |
          .git*
          .env
          .github
          node_modules
          vendor
          public/storage
