name: First Workflow

on:
  push:
    branches:
      - main

jobs:
  demo-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Hello World
        run: echo "Hello World"

      - name: Run a one-line script
        run: echo "Hello, world!"

      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.

      - name: List
        run: ls ${{ github.workspace }}

      - name: Print Github context
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: echo "${{ toJSON(github) }}"

      - name: Completed
        run: echo "Workflow Completed Successfully"
